*{
	box-sizing: border-box;
}

body{
	background-color: #293B29;
}

#clock{
	/*display: none;*/
	width: 100vw;
	height: 100vw;
	background: url(../img/clock-bg.svg);
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}

#clock #center{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	z-index: 99;
	background-color: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-5px,-5px);
}

.smooth{
	transition: transform 1s;
}

#hour-hand{
	position: absolute;
	transform-origin: left center;
	left: 50%;
	top: calc(-0.833vw + 5px);
	transform: rotate(360deg);
	width: 15vw;
	z-index: 3;
}
#minute-hand{
	position: absolute;
	top: calc(-19vw + 5px);
	transform-origin: center bottom;
	transform: rotate(360deg);
	height: 19vw;
	left: calc(-0.792vw + 5px);
	z-index: 2;
}
#second-hand{
	position: absolute;
	transform-origin: center top;
	transform: rotate(360deg);
	height: 25.5vw;
	top: 50%;
	left: calc(-1.34vw + 5px);
	z-index: 1;
}








/*#hour-hand{
	background: url(../img/hour-hand.svg);
	background-repeat: no-repeat;
	background-position: 58% 49.5%;
	background-size: 15%;
	z-index: 2;
}

#minute-hand{
	background: url(../img/minute-hand.svg);
	background-repeat: no-repeat;
	background-position:50% 38.5%;
	background-size: 1.6%;
	z-index: 3;
}

#second-hand{
	background: url(../img/second-hand.svg);
	background-repeat: no-repeat;
	background-position:50% 67.5%;
	background-size: 2.7%;
	z-index: 1;
}*/