html{
	scroll-behavior: smooth;
}

*{
	box-sizing: border-box;

	/*outline: 1px solid black;*/
}

body{
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
	font-size: 12px;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 80px;
	padding-bottom: 50px;
	background-color: rgba(0,0,0,0.08);
	/*background-image: url('../img/cup-desk-drink-434337.jpg');
	background-size: cover;
	background-position: 75% center;*/
}

canvas{
	border-radius: 10px;
	background: rgba(255,255,255,0.85);
	margin-bottom: 50px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
canvas:hover{
	cursor:crosshair;
}

a#button{
	top: -30px;
	right: 0px;
    width: 100px;
    font-size: 16px;
    padding: 10px;
    background: none;
    border: 0;
    outline: none;
    font-weight: bold;
    color: white;
    background-color: indianred;
    border-radius: 5px; 
    text-align: center;
    text-decoration: none;
    position: absolute;
}
a#button:hover{
	cursor: pointer;
	opacity: 1;
}
a#button:active{
	background-color: rgba(255,255,255,0);
	color: indianred;
}

a#button i{
	margin-left: 10px;
	font-size: 8px;
	transform: translateY(-1px);
}

header{
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	/*background-color: indianred;*/
	/*color: white;*/
	margin-bottom: 5px;
	/*border-radius: 5px;*/
	position: relative;
	text-align: left;
}
header:hover{
	cursor: pointer; 
}

.hidden header::after{
	content: '\f106';
	font-weight: 900;
	font-family: 'font awesome 5 free';
	margin-left: 5px;
}
header::after{
	content: '\f107';
	font-weight: 900;
	font-family: 'font awesome 5 free';
	margin-left: 5px;
}


#menu-4 header::before{
	content: '\f053';
	font-family: 'font awesome 5 free';
	font-weight: 900;
}
#menu-4 header::after{
	content: '\f054';
	margin-left: 0;
}
#menu-4 header:hover{
	cursor: initial;
}

/*#menu-1 header.hidden ~ ul,
#menu-2 header.hidden ~ ul{
	display: none;
}*/



#menu-2 header{
	/*background-color: teal;*/
}
#menu-2 input:focus{
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 0px 3px black;
	color: black;
}

#panel{
	width: 700px;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	padding-top: 15px;
	padding-bottom: 0;
	position: relative;
}

#panel ul{
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

#menu-1, #menu-2, #menu-3{
	width: 100%;
	padding-left: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0px 0px 3px black;
	height: auto;	
	transition: height 1s;
}

#menu-1.hidden,
#menu-2.hidden,
#menu-3.hidden{
	height: 37px;
}
#menu-1{
	height: 215px;
	margin-top: 10px;
}
#menu-2{
	height: 170px;
}
#menu-3{
	height: 193px;
	padding-right: 10px;
}

#menu-3 nav{
	position: relative;
}
#menu-3 nav i{
	position: absolute;
    right: 5px;
    top: 123px;
    color: white;
    padding: 5px;
    font-weight: bold;
    background-color: black;
    border-radius: 3px;
    /*border: 1px solid black;*/
    font-size: 12px;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
}
#menu-3 nav i::before{
	font-family: 'font awesome 5 free';
}
#menu-3 nav i:hover{
	cursor: pointer;
}
#menu-3 nav i:active{
	background-color: white;
	box-shadow: 0 0 3px black;
	color: black;
}

#draw{
	display: flex;
	flex-flow: row wrap;
}


#enter{
	display: flex;
	flex-flow: row wrap;
}

#linger{
	display: flex;
	flex-flow: row wrap;
}

#reEnter{
	display: flex;
	flex-flow: row wrap;
}

#options{
	display: flex;
	flex-flow: row wrap;
}
#options li{
	display: flex;
	flex-flow: row wrap;
	background: none;
	padding: 0;
	margin-bottom: 10px;
	margin-right: 10px;
}
#options li:hover{
	cursor: initial;
}
input{
	outline: none;
	border: 0;
	padding: 0 10px;
	background-color: rgba(255,255,255,0.5);
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
	font-size: 12px;
	width: 180px;
	border-radius: 5px;
	text-align: center;
}

h1{
	width: 130px;
	padding: 10px;
	background-color: dimgray;
	margin-right: 10px;
	color: white;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
li{
	/*background-color: white;*/
	padding: 10px;
	border-radius: 5px;
	margin-right: 3px;
}
li:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,0.5); 
}
li.selected{
	/*background-color: slategray;*/
	/*color: white;*/
	box-shadow: 0px 0px 3px black;
	background-color: rgba(255,255,255,0.8);
}


#script{
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
	background-color: rgba(255,255,255,0.8);
    padding: 1em;
}
#script span{
	display: block;
	padding-left: 2em;
}

.red{
	color: darkred;
}
.green{
	color: navy;
}
.yellow{
	color: darkcyan;
}

nav{
	padding: 10px;
	margin-bottom: 10px;
}

#canvas-background{
	position: absolute;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	top: -30px;
	right: 115px;
	padding: 1px 7px;
	border-radius: 5px;
	background-color: cornflowerblue;
	color: white; 
	text-shadow: 0 0 3px white;
	/*box-shadow: 0 0 3px black;*/	
}
#canvas-background i{
    padding: 5px;
    border-radius: 3px;
    margin: 3px;
}
#canvas-background i:hover{
	cursor: pointer;
}
#canvas-background .fas.fa-adjust{
	font-size: 18px;
}
#canvas-background .fas.fa-adjust:hover{
	cursor: initial;
}


.wrapper{
	display: flex;
	flex-flow: row nowrap;
	width: 700px;
	border-radius: 5px;
	overflow: scroll;
	padding: 10px;
	box-shadow: 0 0 5px gray;
	background: white;
}


section{
	/*position: absolute;*/
	width: 450px;
	height: 220px;

	margin: 10px;
	
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	background: transparent;
	/*box-shadow: 0 0 3px gray;*/
}

img{
	height: 200px;
	box-shadow: 0 0 3px black;
	border-radius: 3px;
}
section:last-child img{
	margin-right: 10px;
}

*{
	/*outline: 1px solid black*/
	box-sizing: border-box;
}


