body{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
	padding-top: 50px;
	/*background-image: url(../img/cement-color-concrete-1260727.jpg);
	background-position: 75% center;
	background-repeat:  no-repeat;
	background-size: cover;*/
	background: rgba(0,0,0,0.05);
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
}

canvas{
	/*border: 1px solid black;*/
	box-shadow: 0 0 3px black;
	border-radius: 3px;
}

.wrapper{
	display: flex;
	flex-flow: row nowrap;
	min-width: 500px;
	width: 80%;
	overflow: scroll;
	padding: 10px;
	box-shadow: 0 0 5px gray;
	background: white;
}


section{
	/*position: absolute;*/
	width: 450px;
	height: 220px;

	margin: 10px;
	
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	background: transparent;
	/*box-shadow: 0 0 3px gray;*/
}

img{
	height: 200px;
	box-shadow: 0 0 3px black;
	border-radius: 3px;
}
section:last-child img{
	margin-right: 10px;
}

*{
	/*outline: 1px solid black*/
	box-sizing: border-box;
}


#back{
	font-weight: bold;
	position: absolute;
	top: 400px;
}
#back:hover{
	cursor: pointer;
}
#back::before{
	content: '\f053';
	font-family: 'font awesome 5 free';
	font-weight: 900;
}
#back::after{
	content: '\f054';
	margin-left: 0;
	font-family: 'font awesome 5 free';
	font-weight: 900;
}




